/* 背景*/
.km-android .km-view .km-content
{
    background:url(../styles/image/beijin.png);
    background-repeat:no-repeat;
}


.km-android .km-view .km-navbar
{
    background-color: rgb(15, 173, 0);
}
.km-android .km-view .km-footer
{
    background-color: rgb(15, 173, 0);
}
.km-android .km-view .km-navbar .km-button
{
    background-color: rgb(15, 173, 0);
}
.km-android .km-view .km-navbar .km-button.km-state-active .km-text
{
    color: rgb(15, 173, 0);
}

.km-android .km-view .km-tabstrip .km-button
{
    background-color: rgb(255, 255, 255);
}

.km-android .km-header .km-tabstrip .km-button.km-state-active
{
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(255, 255, 255, .2)), color-stop(1, rgba(255, 255, 255, .8)));
    background-image: -moz-linear-gradient(50% 0, 50% 100%, rgba(255, 255, 255, .2), rgba(255, 255, 255, .8));
    background-image: -ms-linear-gradient(50% 0, 50% 100%, rgba(255, 255, 255, .2), rgba(255, 255, 255, .8));
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(0, 0, 0);
}
.km-android .km-header .km-tabstrip .km-button
{
    background-color: rgb(102, 102, 102);
}
.km-android .km-header .km-tabstrip .km-button .km-icon
{
    color: rgb(255, 255, 255);
    border: none;
}
.km-android .km-header .km-tabstrip .km-state-active span.km-icon
{
    color: rgb(0, 163, 199);
    border: none;
}
.km-android .km-header .km-tabstrip
{
    background-color: rgb(204, 204, 204);
    border: none;
}
.km-android .km-tabstrip .km-text
{
    position: relative;
    float: left;
    left: 0;
    top: 0;
    width: 100%;
    height: 0em;
    height: 0rem;
    margin-top: 0em;
    margin-top: -0.8rem;
    border: 0em solid transparent;
    border-right: 0px solid #444;
    border-left: 0;
    text-indent: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}
.km-android .km-tabstrip .km-text
{
    display: block;
}
.km-android .km-tabstrip .km-text
{
    font-size: 1.0em;
}
.km-android .km-tabstrip .km-icon
{
    height: 2.2rem;
    width: 2.2rem;
    font-size: 1.8rem;
}
#show { position: relative; margin: 20px auto; width: 800px; border: 1px solid #999999; }
.item { position: absolute; height: 40px; width: 60px; background: #999999; border: 1px solid #eeeeee; cursor: pointer; }

.spread
{
    top: -150px;
    left: -150px;
    transform-origin: 100px 100px;
    transition: all 0.5s 0.1s;
}
/* END .icon:hover */
.unit
{
    position: absolute;
    background: white;
    font-size: 60%;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: dodgerblue;
    border-radius: 50%;
    transition: 0.6s;
}
/* Just CodePen layout stuff: */
body, a, ul, li
{
    margin: 0;
    outline: 0;
    padding: 0;
    list-style: none;
}

.km-android .km-view-title
{
    visibility: visible;
}

#scrollview-home .photo
{
    margin: 0;
    display: inline-block;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.km-wp #scrollview-home .photo
{
    height: 15em;
}

#scrollview-container
{   width:100%;
    margin: 60px 0 1em 0;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    border-width: 1px 0;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .3);
}
    
.km-flat #scrollview-container
{
    background: transparent;
    border-width: 0;
    box-shadow: none;
}

.km-ios #scrollview-container
{
    background: url(../../content/shared/images/patterns/pattern1.png);
    box-shadow: 0 0 2px rgba(255, 255, 255, .5), inset 0 0 7px #000;
}

#scrollview-home .km-ios .km-content
{
    background: #bbb;
}
.km-android .km-list .album-set a
{
    background-color: #277692;
}
.km-ios .km-list .album-set a
{
    background-color: #bbb;
}
.km-ios #scrollview-home .km-navbar
{
    background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(255, 255, 255, .5)), color-stop(.06, rgba(255, 255, 255, .45)), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(1, rgba(100, 100, 100, 0))), url(../../content/shared/images/patterns/pattern5.png);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .45) 6%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .15) 50%, rgba(100, 100, 100, 0)), url(../../content/shared/images/patterns/pattern5.png);
}
.km-ios #scrollview-home .km-navbar .km-button
{
    background-color: #000;
}
.km-ios #scrollview-home .km-content
{
    background: url(../../content/shared/images/patterns/pattern6.png);
    box-shadow: inset 0 0 30px #000;
}

.km-ios #scrollview-container .km-pages .km-current-page
{
    background-color: #ff009c;
}
.km-ios #scrollview-container .km-pages
{
    padding-top: 18px;
}
.km-ios #scrollview-home .km-view-title
{
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
}
.km-scrollview .km-virtual-page
{
    min-height: 1px;
    position: absolute;
    top: 0;
    left: 10px;
    display: inline-block;
}